[miner]
key_name = test_miner
host=http://165.232.173.89
port=80

[validator]
interval = 20
host=http://165.232.173.89
port=80
key_name = test_validator

[subnet]
use_testnet = False
netuid = 19
call_timeout = 10
max_allowed_weights = 420