[miner]
key_name = test_miner [miner key name in ~/.commune/key/]
host=https://backend.numenex.com
port=443

[validator]
key_name = test_validator [validator key name in ~/.commune/key/]
interval = 300
host=https://backend.numenex.com
port=443

[llm_validator]
openai_api_key = [API_KEY]
openai_model = gpt-4o
openai_temperature = 0
openai_max_tokens = None
openai_timeout= None
openai_max_retries = 2
api_ninja_api_key = [API_KEY]

[subnet]
use_testnet = False
netuid = 19
call_timeout = 10
max_allowed_weights = 420